*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:  35px 30px;
    font-size: 17px;
    padding: 8px;
}

.container{
    background-color: #f2f2f2;
    padding:5px 20px 15px 20px;
    border: 1px solid color lightcoral;
    border-radius: 6px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
}
fieldset{
    background-color: #fff;
    border: 1px solid #ccc;
}

.main_h1{
    text-align: center;
    text-decoration:underline;
    text-transform: uppercase;
    text-decoration-color: aqua;
}
input[type="submit"]{
    background-color: crimson;
    padding: 10px;
    border:1px solid black;
    border-radius: 7px;
}