/*********CLASS SELECTOR ****************/

body{
    background-color: #EAF6F6;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-right: 5px;
    width: 5%;
}

h1{
    color: #66BFBF;
}

h3{
    color: #66BFBF;
}




.hname{
    font-size: 90px;
}
.broccoli{
    background-color: red;
}
.circular{
    border-radius: 100%;
}
