@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.nav_links{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li,a,button{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

td {
    padding: 35px;
}

header{
    display:flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color: #aef224;
}

.logo2{
    cursor:zoom-in;
    
}
.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
 
.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #ffffff;
}

button{
    padding: 9px 25px;
    background-color: #b86b46;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #f19b73;
}




body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif; 
    font:whitesmoke;
}
h2{
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
}

h3{
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
}

.top-container{
    background-color:#000000;
    position: relative;
    padding: 300px;;
}

.middle-container{
    background-color: #F6FFDE;
}

.bottom-container{
    background-color: #A4D0A4;
    margin-bottom: 0;
    margin-top: 0;
    padding: 30px;
}
.foot a:hover{
    color: #ffffff;
}



