@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.nav_links{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li,a,button{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    padding-right: 10px;
}

td {
    padding: 35px;
}

header{
    display:flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color: #aef224;
}

.logo2{
    cursor:zoom-in;
    
}
.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
 
.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color:#b86b46;
}

button{
    padding: 9px 25px;
    background-color: #b86b46;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover{
    background-color: #f19b73;
}

.sbutton1{
    background-color: white;
    color: #b86b46;
    border: 2px solid #b86b46;
}
.sbutton1 :hover{
    background-color: #f19b73;
}
.sbutton2{
    background-color: white;
    color: #b86b46;
    border: 2px solid #b86b46;
}
.sbutton2 :hover{
    background-color: #f19b73;
}


body{
    margin: 0;
    font-family: 'Merriweather', serif; 
    font:whitesmoke;
}
h1{
    text-align: center;
    margin-top: 0;
    font-size: 75px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-top: 60px;
}
h2{
    margin-top: 0;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-top: 60px;
}

h3{
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
}

.top-container{
    background-color:#000000;
    position: relative;
    padding: 300px;;
}

.middle-container{
    background-color: #F6FFDE;
    padding-left: 90px;
}

.bottom-container{
    background-color: #aef224;
    margin-bottom: 0;
    margin-top: 0;
    padding: 30px;
}
.foot a:hover{
    color: #b86b46;
}



